1.Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
def sum_of_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)
result = sum_of_even_numbers(numbers)
print("sum of even numbers:", result)

sum of even numbers: 20

2.Create a Python function that accepts a string and returns the reverse of that string.

In [5]:
text = "Hii Im Laxmi"

In [8]:
def reverse_string(s):
    return s[::-1]
reversed_text = reverse_string(text)
print("Reversed string:", reversed_text)

Reversed string: imxaL mI iiH

3.Implacement a Python function that takes a list of integers and returns a new list containing the square of each number.

In [9]:
nums = [1, 2, 3, 4, 5]

In [20]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]
nums = [1, 2, 3, 4, 5]
squared = square_numbers(nums)
print("squared numbers:", squared)

squared numbers: [1, 4, 9, 16, 25]

4.Write a Python function that checks if a given number is prime or not from 1 to 200.

In [40]:
def is_prime_basic(n):
    if n < 2 or n > 200:
       return False
    for i in range(2, n):
        if n % i == 0:
             return False
    return True

5.Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

6.Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [43]:
def power_of_two(max_exponent):
    for i in range(max_exponent + 1):
      yield 2 ** i
for num in power_of_two(5):
   print(num)

1
2
4
8
16
32

7.Implement a generator function that reads a file line by line and yields each line as a string.

In [44]:
def read_file_lines(file_path):
    with open(file_path, 'r') as file:
      for line in file:
        yield line.strip()

8.Use a lambda function in Python to sort a list of tuples based on the second element of each tuples.

In [45]:
data = [(1, 3), (4, 1), (2, 5), (3, 2)]
sorted_data = sorted(data, key=lambda x:x[1])
print(sorted_data)

[(4, 1), (3, 2), (1, 3), (2, 5)]

9.Write a Python program that uses 'map()' to convert a list of temperature from celsius to fahrenheit.

In [47]:
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

celsius = [0, 20, 37, 100]
fahrenheit = list(map(celsius_to_fahrenheit, celsius))
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

10.Create a Python program that uses 'filter()' to remove all the vowels from a given string.

In [48]:
text = "Hello World"

In [49]:
def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda char:char not in vowels, s))
result = remove_vowels(text)
print(result)

Hll Wrld

11.Imagine an accountin routine used in a book shop. It works on a list with sublists, which look like thsi:


*   oreder number
      34587
      98762
      77226
      88112

*   Book Title and Author
     Learning Python, Mark Lutz
     Programming Python, Mark Lutz
     Head First Python, Paul Barry
     Einfuhrung in Python3, Bernd Klein



*   Quantity
      4
      5
      3
      3

*   Price per Item
      40.95
      56.80
      32.95
      24.99

 Write a Python program, which returns a list with 2-tuples consits of the order number and the product of the price per item and the quantity. The product should be increased by 10,-$ if the value of the order is smaller than 100,00 $.

In [57]:
orders = [[34587, "Learning Python, Mark Lutz", 4, 40.95],
          [98762, "Programming Python, Mark Lutz", 5, 56.80],
          [77226, "Head First Python, Paul Barry", 3, 32.95],
          [88112, "Einfuhrung in Python3, Bernd Klein", 3, 24.99]
          ]

def process_orders(order_list):
      result = []
      for order in order_list:
        order_number = order [0]
        quantity = order[2]
        price_per_item = order[3]
        total = quantity * price_per_item
        if total < 100:
          total += 10
          result.append((order_number, round(total, 2)))
          return result
output = process_orders(orders)
print(output)

[(77226, 108.85)]

12.Write a Python program using lambda and map.

In [58]:
processed_orders = list(map(lambda x: (x[0], round(x[2]*x[3] if x[2]*x[3] >= 100 else x[2]*x[3] + 10, 2)),
                            orders
                    ))
print(processed_orders)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]